.imageContainer {
    height: 350px;
    width: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .wizardImages {
        width: 225px !important;
        height: 350px !important;
        object-fit: cover !important;
        margin: 0 auto 15px auto !important;
        border-radius: 10px;
        border: solid 2px #444;
    }

    h3 {
        position: absolute;
        color: #fff;
        bottom: 20px;
        left: 25px;
    }
}
