.friendGridContainer {
    width: 80%;
    margin: 0 10%;
    position: absolute;
    top: 235px;

    .friendGrid {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
