.hero {
    position: relative;
    width: 100%;
    height: 720px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: brightness(0.5);
}

.container {
    width: 100%;
    position: absolute;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;

    .textContainerLeft {
        width: calc(100% - 375px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-size: 120px;
            font-family: Hogwarts;
        }

        h4 {
            font-size: 48px;
            margin-bottom: 60px;
        }

        p {
            width: 60%;
            font-size: 36px;
        }
    }

    .textContainerRight {
        width: 450px;
        position: absolute;
        top: 30px;
        right: 100px;

        h3 {
            font-size: 30px;
        }
    }
}
