.hero {
    position: relative;
    width: 100%;
    height: 720px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: brightness(0.5);
}

.callout {
    h1 {
        position: absolute;
        top: 80px;
        left: 100px;
        font-size: 120px;
        color: #fff;
        font-family: Hogwarts;
    }
}
